[commit]
  gpgsign = true
[gpg]
  program = /opt/homebrew/bin/gpg
[init]
  defaultBranch = main

[push]
  autoSetupRemote = true
  default = current

[alias]
  undo = reset --soft HEAD^

[core]
  pager = delta
